<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style-config.css">
    <title>Configurações</title>
</head>
<body>
	<header>
	        <a href="http://localhost:8080/aluno/perfil"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" >PIPA | Configurações</h1>
	</header>
	
	<main>
		<h2>Configurações</h2>
	</main>
	<script src="perfil.js"></script>
</body>
</html>