<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/icon.png}">
    <title>Estágios - Home</title>
</head>
<body>
	<header>

	        <a href="/aluno"><img id="logo" th:src="@{/img/logo.png}"></a> <!--Cpque na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" >PIPA | Estágios</h1>
	</header>
	<nav>
	  <a href="/notificacoes" class="icone" id="icone-portal">
    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
    <label>Notificações</label>
	</nav>
    <main>
        <section id="detalhes-estagio">
            <a id='redirect-empresa-perfil' th:href="@{${'/encontra-empresa?nome='+empresa}}"><h3 th:text="${empresa}"></h3></a>
            <p th:text="'Carga horária: ' + ${cargaHoraria}"></p>
            <p th:text="'Vagas disponíveis: ' + ${vagas}"></p>
            <p th:text="'Requisitos: ' + ${requisito}"></p>
            <p th:text="'Salário: R$' + ${estagio.salario}"></p>
            <p th:text="${documentos != null}?'Documentos necessários:' : 'Nenhum documento necessário.'"></p>
            <ul if="${documentos != null && documentos != ''}">
             <li th:each="doc : ${documentos}" th:text="${doc}"></li>
            </ul>
            <hr>
            <p th:text="${descricao}"></p>
        </section>
        <section>
            <div th:unless='${progresso == null}'>    
                <p th:if="${progresso.name() == 'PENDENTE'}">Aguardando aprovação da empresa.</p>
                <p th:if="${progresso.name() == 'APROVADO'}">Você é inscrito neste estágio.</p>
                <p th:if="${progresso.name() == 'CONCLUIDO'}">Você concluiu este estágio.</p>       
            </div>
            <p th:id="${warning}" th:text="${status}"></p>
            <a th:if="${progresso == null}" th:href=" ${documentos != null } ? @{/aluno/upload(estagioId=${estagio.id})} : @{/aluno/inscrever-estagio(n=${estagio.id})}">
                <button>Inscrever-se</button>
            </a>
            <a th:if="${progresso != null}" th:href="@{/aluno/desinscrever-estagio(n=${estagio.id})}">
                <button>Desinscrever-se</button>
            </a>
        </section>
    </main>
</html>