<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Estágios - Home</title>
</head>
<body>
	<header>

	        <a href="/aluno"><img id="logo" th:src="@{/img/logo.png}"></a> <!--Clique na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" >PIPA | Estágios</h1>
	</header>
	<nav>
	 <a href="/notificacoes" class="icone" id="icone-portal">
    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
    <label>Notificações</label>
	</nav>
	<main>
		<h2>Seus estágios</h2>
                <a class="estagio-section" th:each="estagio : ${estagioList}" th:href="@{http://localhost:8080/aluno/detalhes-estagio(n=${estagio.id})}">
                    <section>
                        <h3 th:text="${estagio.empresa}"></h3>
                        <p th:text="${estagio.requisito}"></p>
                    </section>
                </a>
                
                <hr>
                <h2>Estágios disponíveis:</h2>
                <a class="estagio-section" th:each="estagio : ${estagioDispList}" th:href="@{http://localhost:8080/aluno/detalhes-estagio(n=${estagio.id})}">
                    <section>
                        <h3 th:text="${estagio.empresa}"></h3>
                        <p th:text="${estagio.requisito}"></p>
                    </section>
                </a>
        </main> 
    
</body>
</html>