<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-config.css">
	<link rel="stylesheet" href="../css/style-perfil.css">
    <title>Configurações</title>
</head>
<body class="config">
    <header>
        <a href="http://localhost:8080/aluno/perfil"><img id="logo" src="../img/logo.png" alt="Logo"></a>
        <h1 id="titulo-plataforma">PIPA | Configurações</h1>
    </header>

    <div class="menu-container">
        <div id="menu-config">
            <ul class="menu-list">
                <li><a href="http://localhost:8080/aluno/contaConfigPerfil">Conta</a></li>
                <li><a href="http://localhost:8080/aluno/notificacaoConfigPerfil">Notificações</a></li>
                <!-- <li><a href="http://localhost:8080/aluno/privacidadeConfigPerfil">Privacidade</a></li>               Depois do crud de seguidores--> 
                <li><a href="http://localhost:8080/aluno/preferenciasConfigPerfil">Preferências</a></li>
            </ul>
        </div>

        <main>
            <h2 class="titulo-config">Preferências</h2>
			<button type="button" class="botoes-perfil" id="botao-concluir-config">SALVAR ALTERAÇÕES</button>
        </main>
    </div>

	<script src="../js/config.js"></script>
	<script src="../js/configAlterada.js"></script>
</body>
</html>