<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="img/icon.png">
    <title>Projetos - Home</title>
</head>
<body>
	<header>
	        <a href="http://localhost:8080"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" >PIPA | Projetos</h1>
	</header>
	
	<main>
		<h2>Projetos de Pesquisa</h2>
		<ul>
			<li>Projeto 1</li>
			<li>Projeto 2</li>
			<li>Projeto 3</li>
		</ul>
	</main>
    
</body>
</html>