<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Aplicação para Candidatura</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" src="img/logo.png"></a>
        <h1 id="titulo-plataforma">PIPA | Aplicação</h1>
    </header>

    <nav>
        <p id="nome-no-portal" th:text="${aluno.nome}"></p>
        <a href="http://localhost:8080/perfil" class="icone">
            <img src="img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>

    <main>
        <h2 id="subtitulo-portal" th:text="'Aplicação para o projeto: ' + ${projeto.nome}"></h2>
        <form th:action="@{/projeto/aplicacao}" method="post">
            <input type="hidden" name="IDoportunidade" th:value="${projeto.id}">
            <label for="mensagem">Detalhes da Candidatura:</label>
            <textarea id="mensagem" name="mensagem" rows="5" cols="50"
                placeholder="Escreva aqui os detalhes sobre sua candidatura..." required></textarea>
            <br><br>
            <button type="submit" class="botoes-portal" id="botao-aplicar">Aplicar</button>
        </form>
        <div th:if="${sucesso}" class="sucesso">
            <p th:text="${sucesso}"></p>
        </div>
        <div th:if="${erro}" class="erro">
            <p th:text="${erro}"></p>
        </div>
    </main>
</body>
</html>


