<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Professor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/config.css}">
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" th:src="@{/img/logo.png}"></a>
        <h1 id="titulo-plataforma">PIPA | Portal</h1>
    </header>
    <main>
        <form id="professor-inputs" th:action="@{/criarProfessor}" method="post" enctype="multipart/form-data">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" required>

            <label for="departamento">Departamento:</label>
            <input type="text" name="departamento" required>

            <label for="email">Email:</label>
            <input type="email" name="email" required>

            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" required>

            <label for="senha">Senha:</label>
            <input class="conta-config" type="password" id="senha" name="senha" placeholder="••••••••••••">

            <input type="submit" value="Cadastrar">
        </form>
    </main>
</body>
</html>