<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" href="img/icon.png">
    <title>Professor - Home</title>
</head>

<body>
    <header>
        <a href="/aluno"><img id="logo" src="../img/logo.png"></a>
        <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma">PIPA | Home</h1>
    </header>

    <nav>
        <p id="nome-no-portal" th:text="${aluno.nome}"></p>
        <a href="../perfil-aluno" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>

    <section class="projeto">
        <h2 id="subtitulo-portal" th:text="${projeto.nome}"></h2>
        <p><strong>Tipo:</strong> <span th:text="${projeto.tipoProjeto}"></span></p>
        <p><strong>Responsável:</strong> <span th:text="${projeto.responsavel}"></span></p>
        <p><strong>Descrição:</strong> <span th:text="${projeto.descricao}"></span></p>
        <div th:if="${projeto.vagasRemuneradas > 0}">
            <p><strong>Vagas Remuneradas:</strong> <span th:text="${projeto.vagasRemuneradas}"></span></p>
            <p><strong>Valor da Bolsa:</strong> R$<span th:text="${projeto.valorBolsa}"></span></p>
        </div>
        <p th:if="${projeto.vagasVoluntarias > 0}"><strong>Vagas Voluntarias:</strong> <span
                th:text="${projeto.vagasVoluntarias}"></span></p>
        <p><strong>Carga Horária:</strong> <span th:text="${projeto.cargaHoraria}"></span> horas</p>
        <p><strong>Requisitos:</strong> <span th:text="${projeto.requisito}"></span></p>
        <div th:if="${projeto.vagasRemuneradas > 0}" class="tag">Remunerado</div>
        <div th:each="curso : ${projeto.cursos}" class="tag"><span th:text="${curso.nomeCurso}"></span></div>
        <div th:if="${projeto.cursos == null}">Erro ao carregar cursos</div>
        <div th:each="p : ${projetosDoAluno}" th:text="${p.nome}"></div>
        <div th:if="${not #lists.contains(idsProjetosDoAluno, projeto.id)}" class="opcoes">
            <a class="botao-aplicar" th:href="@{/projeto/{id}/aplicacao(id=${projeto.id})}">Aplicar para o projeto</a>
        </div>
    </section>
</body>