<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Ver Certificado</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" src="img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
		<p id="nome-no-portal" th:text="${aluno.nome}"></p>
        <a href="http://localhost:8080/perfil" class="icone" id="icone-portal">
            <img src="img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>    
    

    <main>
        <h2 id="subtitulo-portal">Ver Certificado emitido</h2>

        <embed
	        src="/resources/static/pdf/CertificadoPadrao.pdf"
	        type="application/pdf"
	        width="100px"
	        height="500px"
        />     
    </main>

    <script src="js/portal.js"></script>

</body>
</html>