</html>
<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Início</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | INTERNAL SEREVER ERROR</h1>
    </header>

    <nav>

    </nav>    
    

    <main>  
        <img src="/img/error_icon.png"  alt="Error">   
        <p> Erro interno não esperado.</p>

    </main>

</body>
</html>