<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br" >
      
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>Seguidores</title>
    </head>

    <body>

        <header>
            <a href="http://localhost:8080"><img id="logo" th:src="@{/img/logo.png}"></a> <!--Clique na logo para retornar à página inicial-->
            <h1 id="titulo-plataforma" >PIPA | Perfil</h1>
        </header>

        <main>  
            <p  th:text="${message}" ></p>

        </main>

    </body>
</html>