<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Início</title>
</head>
<body>
    <header>
        <a href=""><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | Cadastro</h1>
    </header>

    <main>
        <h2 id="subtitulo-portal">Criar como:</h2>
		<section id="botoes-portal">
            <a href="/cadastroAluno">
                <button class="botoes-inicio" id="botao-aluno" type="submit">
                    <img src="img/botao-aluno.png" class="imgs-botoes-portal">
                </button>
		    </a>
		    <a href="/cadastroProfessor">
                <button class="botoes-inicio" id="botao-professor" type="submit">
                    <img src="img/botao-professor.png" class="imgs-botoes-portal">
                </button>
		    </a>
		    <a href="/cadastroEmpresa">
		        <button class="botoes-inicio" id="botao-empresa" type="submit">
		             <img src="img/botao-empresa.png" class="imgs-botoes-portal">
		        </button>
		    </a>
        
        </section>
    </main>
</body>
</html>