<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Início</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" src="img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | Início</h1>
    </header>

    <nav>

    </nav>    
    

    <main>
        <h2 id="subtitulo-portal">Entrar como:</h2>
		<a href="http://localhost:8080/aluno">aluno</a>
		<a href="http://localhost:8080/professor">professor</a>
		<a href="http://localhost:8080/empresa">empresa</a>
    </main>

</body>
</html>
