<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
  </head>
  <header>
    <a href="/aluno"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
    <h1 id="titulo-plataforma" >PIPA | Login </h1>
</header>
  <body>
    <div class="content">
      <form class="login-form" method="post" action="/login">
        <p>
          <label for="username" class="screenreader">CPF</label>
          <input class="login-form-input" type="text" id="username" name="username" placeholder="CPF" required autofocus>
        </p>
        <p>
          <label for="password" class="screenreader">Senha</label>
          <input type="password" id="password" name="password" placeholder="Senha" required>
        </p>

        <button type="submit" class="primary">Entrar</button>
        <p>Não tem uma conta? <a th:href="@{/cadastro}">Criar</a></p>
      </form>
    </div>
  </body>
</html>