<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
    <title>Estágios - Home</title>
</head>
<body>
	<header>
		<div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
	</nav>
	<main>
		<h2 id="subtitulo-portal" th:text="${aluno.nome}"></h2>        
        <section id="descricao-aluno">
            <h3>Informações</h3>
            <table class="table">
                <tr>
                    <td>🏫<span th:text="${aluno.campus}"></span></td>
                    <td>📧<span th:text="${aluno.email}"></span></td>
                </tr>
                <tr>
                    <td>📖<span th:text="${aluno.curso}"></span></td>
                    <td>⏱️<span th:text="${aluno.periodo}"></span></td>
                </tr>
            </table>
        </section>

        <section id="tabela-projetos-estagios-concluidos">
			<h3>Projetos concluídos</h3>
            <table class="table">
                <thead>
                    <th>Natureza</th>
					<th>Empresa/Título</th>
                    <th>Descrição</th>
                    <th>Requisitos</th>
                    <th>Carga Horária</th>
					<th>Ver certificado</th>
                </thead>
                <tbody>
                    <tr th:each="projetos : ${projetos}">
						<td th:text="'Pesquisa/extensão'"></td>
                        <td th:text="${projetos.nome}"></td>
                        <td th:text="${projetos.descricao}"></td>
                        <td th:text="${projetos.requisito}"></td>
                        <td th:text="${projetos.cargaHoraria}"></td>
						<td>
							<a th:href="@{'/perfil-aluno/emite?id=' + ${projetos.id} + '&tipo=projeto&aluno=' + ${aluno.id}}">
								<button id="botao-certificado">Ver certificado</button>
							</a>
						</td>
                    </tr>
					<tr th:each="estagios : ${estagios}">
						<td th:text="'Pesquisa/extensão'"></td>
                        <td th:text="${estagios.empresa}"></td>
                        <td th:text="${estagios.descricao}"></td>
                        <td th:text="${estagios.requisito}"></td>
                        <td th:text="${estagios.cargaHoraria}"></td>
						<td>
							<a th:href="@{'/perfil-aluno/emite?id=' + ${estagios.id} + '&tipo=estagio&aluno=' + ${aluno.id}}">
								<button id="botao-certificado">Ver certificado</button>
							</a>
						</td>
					</tr>
                </tbody>
            </table>
        </section>
	</main>
    
</body>
</html>