<!DOCTYPE html>
<html class="perfil-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style-perfil.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Arial&family=Times+New+Roman&family=Courier+New&display=swap" rel="stylesheet">
	
	<!-- Cropper.js JS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
	
	<!-- Quill -->
	<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
	<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
	
    <title>Perfil</title>
</head>
<body>
	<header>
	        <a href="javascript:void(0);" onclick="window.history.back();"><img id="logo" src="../img/logo.png" alt="Logo"></a> <!--Clique na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" th:text="'PIPA | ' + ${aluno.nome}">PIPA | Meu Perfil</h1>
	</header>
	
	<a class="link-topo" href="#">&#9650;</a>
	
	<main id="seccao-principal">
		<img id="banner" th:src="'data:image/jpeg;base64,' + ${banner}" alt="Banner" onerror="this.src='../img/banner.png'">
		<img id="foto-perfil" th:src="'data:image/jpeg;base64,' + ${fotoPerfil}" alt="Foto de Perfil" onerror="this.src='../img/foto-perfil-padrao.png'">
		
		<div id="cropModal" style="display: none;">
		    <div style="width: 100%; text-align: center;">
		        <img id="imageToCrop" style="max-width: 100%; max-height: 80vh; display: block; margin: auto;" />
			</div>
		    <div style="text-align: center; margin-top: 20px;">
		        <button id="cropButton" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">Cortar</button>
		        <button id="closeModalButton" style="padding: 10px 20px; background-color: #6c757d; color: white; border: none; border-radius: 5px; cursor: pointer;">Cancelar</button>
		    </div>
		</div>

		<form action="/perfil-aluno/atualizar" method="POST" enctype="multipart/form-data" id="form-atualizar">
		    <input type="hidden" name="id" th:value="${aluno.id}">
		    <input type="file" name="fotoPerfil" id="input-foto-perfil" style="display: none;" accept="image/*" disabled>
		    <input type="file" name="banner" id="input-banner" style="display: none;" accept="image/*" disabled>
			
			<div id="parte-descricao">
				<p id="nome-descricao" th:text="${aluno.nome}" style="white-space: nowrap;">Sem nome</p>
				<p id="dados-descricao" th:text="'Estudante do Curso ' + ${aluno.curso} + ' - ' + ${aluno.periodo}">Estudante do Curso X - Xº Ano</p>
		        <textarea id="campo-descricao" disabled name="descricao" rows="5" cols="78" maxlength="435" th:text="${aluno.descricaoPerfil}">Sem descrição</textarea><br><br>
			</div>
		</form>
		
		<div class="seguidores">
		    <button class="botao-seguidores"><p th:text="${seguidores}"></p><br><a class="botao-seguidores-text" th:href="@{/relacoes/seguidores?id=aluno.id}">Seguidores</a></button>
		    <button class="botao-seguindo"><p th:text="${seguidos}"></p><br><a class="botao-seguidores-text" th:href="@{/relacoes/seguidos?id=aluno.id}">Seguindo</a></button>
		</div>
		
		<div id="container-campus">
		    <a class="dados-campus" id="campus-aluno" th:utext="${'ALUNO DO CAMPUS' + '<br>' + aluno.campus}"
		       th:href="${(aluno.campus == 'Araxá' ? 'https://www.araxa.cefetmg.br/' : 
		                   aluno.campus == 'Nova Suíça' ? 'https://www.ns.cefetmg.br/' : 
		                   aluno.campus == 'Nova Gameleira' ? 'https://www.ng.cefetmg.br/' : 
		                   aluno.campus == 'Gameleira' ? 'https://www.campus6.cefetmg.br/' : 
		                   aluno.campus == 'Contagem' ? 'https://www.contagem.cefetmg.br/' : 
		                   aluno.campus == 'Curvelo' ? 'https://www.curvelo.cefetmg.br/' : 
		                   aluno.campus == 'Leopoldina' ? 'https://www.leopoldina.cefetmg.br/' : 
		                   aluno.campus == 'Nepomuceno' ? 'https://www.nepomuceno.cefetmg.br/' : 
		                   aluno.campus == 'Timóteo' ? 'https://www.timoteo.cefetmg.br/' : 
		                   aluno.campus == 'Varginha' ? 'https://www.varginha.cefetmg.br/' : 
		                   'https://www.cefetmg.br/')}"
		    >
			ALUNO DO CAMPUS X
		    </a>
		</div>
		
		
		<a th:href="@{/configPerfil/contaConfigPerfil(id=${aluno.id})}" alt="Configurações"><img id="icone-config" class="botoes-perfil" src="../img/config.png" alt="Configurações" th:if="${idDoUsuario == aluno.id}"></a>
		<button type="submit" class="botoes-perfil" id="botao-edicao" th:if="${idDoUsuario == aluno.id}"></button>
		<a th:if="${idDoUsuario != aluno.id}" class="botoes-perfil" id="botao-seguir" th:href="@{/relacoes/toggle?id=aluno.id}">Seguir</a>
		
		<!--   PARA VERIFICAR!!!
		<p>Visitante ID: <span th:text="${idDoUsuario}"></span></p>
		<p>Dono do perfil ID: <span th:text="${aluno.id}"></span></p>
		-->
		
		<button type="button" class="botoes-perfil" id="botao-add-seccao" th:if="${idDoUsuario == aluno.id}">ADICIONAR</button>
		<button type="button" class="botoes-perfil" id="botao-concluir-edicao">SALVAR ALTERAÇÕES</button>
		
		<div class="informacoes-contato">
		  <p class="titulo-contato">Informações de contato</p>
		  <div class="contatos">
		    <p class="email" th:text="${aluno.email}">Email</p>
		    <p class="telefone" th:text="${aluno.telefone}">Telefone</p>
		  </div>
		</div>
		
	</main>
	
	<div id="container-seccoes">
				
	</div>
	
	<!--
	<div>
        <div id="toolbar">
            <button onclick="changeColor('black')">Preto</button>
            <button onclick="changeColor('red')">Vermelho</button>
            <button onclick="changeColor('green')">Verde</button>
            <button onclick="changeColor('blue')">Azul</button>
            <button onclick="clearCanvas()">Limpar</button>
        </div>
        <canvas id="paintCanvas" width="500" height="500"></canvas>
    </div>
	
	<script>
        const canvas = document.getElementById('paintCanvas');
        const ctx = canvas.getContext('2d');

        let painting = false;
        let color = 'black';

        // Função para começar a desenhar
        function startPosition(e) {
            painting = true;
            draw(e);
        }

        // Função para parar de desenhar
        function endPosition() {
            painting = false;
            ctx.beginPath();
        }

        // Função para desenhar
        function draw(e) {
            if (!painting) return;

            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            ctx.lineWidth = 5;
            ctx.lineCap = 'round';
            ctx.strokeStyle = color;

            ctx.lineTo(x, y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x, y);
        }

        // Mudar cor
        function changeColor(newColor) {
            color = newColor;
        }

        // Limpar o canvas
        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        // Eventos de mouse
        canvas.addEventListener('mousedown', startPosition);
        canvas.addEventListener('mouseup', endPosition);
        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseleave', endPosition);
    </script>
	
	-->
	
	<script th:inline="javascript">
		let aluno = /*[[${aluno}]]*/ {};
		let alunoId = /*[[${aluno.id}]]*/ {};
		
		let secoes = /*[[${secoes}]]*/ '[]';
		
        let projetos = /*[[${projetos}]]*/ '[]';
        let estagios = /*[[${estagios}]]*/ '[]';

        projetos = JSON.parse(projetos);
        estagios = JSON.parse(estagios);
	</script>
			
    <script src="../js/config.js" th:inline="javascript" type="text/javascript">
		
	</script>
	
	
</body>
</html>