<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.png">
    <title>Portal</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" src="img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
		<p id="nome-no-portal" th:text="${aluno.nome}"></p>
        <a href="http://localhost:8080/perfil" class="icone" id="icone-portal">
            <img src="img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>    
    
    <main>
        <h2 id="subtitulo-portal">Navegue pelo site</h2>
        <br>
        <div id="notificacoes-portal">
            <button id="voltar-notificacao">&lt;</button>
            <p id="not-um">notificação 1</p>
            <p id="not-dois">notificação 2</p>
            <p id="not-tres">notificação 3</p>
            <button id="avancar-notificacao">&gt;</button>
            <img src="img/not-um-select.png" class="select-not-img" id="not-um-select">
            <img src="img/not-dois-select.png" class="select-not-img" id="not-dois-select">
            <img src="img/not-tres-select.png" class="select-not-img" id="not-tres-select">
        </div>
        <br>
		<a href="http://localhost:8080/projetos">
        <button class="botoes-portal" id="botao-projeto" type="submit">
            <img src="img/botao-projetos-de-pesquisa.png" class="imgs-botoes-portal">
        </button>
		</a>
		<a href="http://localhost:8080/estagios">
        <button class="botoes-portal" id="botao-estagio" type="submit">
            <img src="img/botao-estagios.png" class="imgs-botoes-portal">
        </button>
		</a>
    </main>

    <section id="section-meus-trabalhos">
        <p>Estágios:</p>
        <ul th:each="estagio : ${estagios}">
            <li><a th:href="'http://localhost:8080/encontra-empresa?nome=' + ${estagio.empresa}">
                <button type="submit" th:text="${estagio.empresa}"></button>
            </a></li>
        </ul>
		<p>Projetos:</p>
		<ul th:each="projeto : ${projetos}">
            <li><a th:href="'http://localhost:8080/encontra-projeto?nome=' + ${projeto.nome}">
                <button type="submit" th:text="${projeto.nome}"></button>
            </a></li>
		</ul>
    </section>

    <script src="js/portal.js"></script>

</body>
</html>
