<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png">
    <title>Estágios - Home</title>
    <style>
        #fade-in {
            display: inline-flex;
        }

        #voltar {
            display: block;
        }
    </style>
</head>

<body>

    <header>
        <a href="/empresa"><img id="logo" src="../img/logo.png"></a>
        <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma">PIPA | Portal</h1>
    </header>

    <nav>
        <p id="nome-no-portal" th:text="${empresa.nome}"></p>
        <a href="/notificacoes" class="icone" id="icone-portal">
            <img
                th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
            <label>Notificações</label>
        </a>
        <a href="/empresa/perfil" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>
    <main>
        <h2>Alunos inscritos:</h2>

        <p th:if="${#lists.isEmpty(candidatos)}">Nenhum candidato encontrado.</p>
        <div class="estagio-section" th:unless="${#lists.isEmpty(candidatos)}"
            th:each="aluno, iterStat : ${candidatos}">
            <section th:unless="${progresso[iterStat.index].name() == 'CONCLUIDO'}">
                <a th:href="'/perfil-aluno?id='+ ${aluno.id}">
                    <h3 th:text="${aluno.nome}"></h3>
                </a>
                <p th:text="${progresso[iterStat.index]}"></p>
                <a th:if="${aluno.id != null and estagio.id != null}"
                    th:href="@{/downloade(alunoId=${aluno.id}, projetoId=${estagio.id})}" class="btn btn-primary">
                    <button>Baixar Documento</button>
                </a>
                <a th:if="${progresso[iterStat.index].name() == 'PENDENTE'}"
                    th:href="'/empresa/aprovar?a_id='+${aluno.id} + '&e_id=' + ${estagio.id}"><button
                        th:text='Aprovar'></button></a>
                <a th:if="${progresso[iterStat.index].name() == 'APROVADO'}"
                    th:href="'/empresa/concluir?a_id='+${aluno.id} + '&e_id=' + ${estagio.id}"><button
                        th:text='Finalizar'></button></a>
                <a th:href="'/empresa/remover?a_id='+${aluno.id}+ '&e_id=' + ${estagio.id}"><button
                        th:text='Remover'></a>
            </section>
        </div>
        <hr>
        <div class="flexbox-center">
            <h2>Alunos que concluíram o estágio:</h2> <button id="fader-in">\/</button>
        </div>
        <div id="fade-in" class="estagio-section" th:unless="${#lists.isEmpty(candidatos)}"
            th:each="aluno, iterStat : ${candidatos}">
            <section th:unless="${progresso[iterStat.index].name() != 'CONCLUIDO'}">
                <a th:href="'/perfil-aluno?id='+ ${aluno.id}">
                    <h3 th:text="${aluno.nome}"></h3>
                </a>
                <p th:text="${progresso[iterStat.index]}"></p>
                <a th:if="${progresso[iterStat.index].name() == 'PENDENTE'}"
                    th:href="'/empresa/aprovar?a_id='+${aluno.id} + '&e_id=' + ${estagio.id}"><button
                        th:text='Aprovar'></button></a>
                <a th:if="${progresso[iterStat.index].name() == 'APROVADO'}"
                    th:href="'/empresa/concluir?a_id='+${aluno.id} + '&e_id=' + ${estagio.id}"><button
                        th:text='Finalizar'></button></a>
                <!--<a th:href="'/empresa/remover?a_id='+${aluno.id}+ '&e_id=' + ${estagio.id}"><button th:text='Remover'></a>-->
            </section>
        </div>

        <a id="voltar" th:href="'/empresa/detalhes-estagio?n='+ ${estagio.id}">
            <button>Voltar</button>
        </a>
    </main>
    <script>

        const fadeInEl = document.querySelector('#fade-in');
        fadeInEl.style.display = 'none'; // Initially hide the element
        const faderInEl = document.querySelector('#fader-in');
        faderInEl.addEventListener('click', function () {
            if (fadeInEl.style.display === 'none') {
                fadeInEl.style.display = 'inline-flex'; // Show the element
                faderInEl.innerHTML = '/\\';
            } else {
                fadeInEl.style.display = 'none'; // Hide the element
                faderInEl.innerHTML = '\\/';
            }
        });

    </script>
</body>

</html>