<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="/empresa"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
        <h1 id="titulo-plataforma" >PIPA | Empresa</h1>
    </header>

    <nav>
		<p id="nome-no-portal" th:text="${empresa.nome}"></p>
	<a href="/notificacoes" class="icone" id="icone-portal">
    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
    <label>Notificações</label>
    </a>
        <a th:href="@{/perfil-empresa(id=${empresa.id})}" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>    
    
    <main>
        <h2 id="subtitulo-portal">Navegue pelo site</h2>
        <br>
		<a th:href="@{/empresa/estagios}">
        <button class="botoes-portal" id="botao-estagios-empresa" type="submit">
            <img src="img/botao-estagios.png" class="imgs-botoes-portal">
        </button>
		</a>
		<a th:href="@{/pesquisa/listaalunos}">
        <button class="botoes-portal" id="botao-buscar-aluno" type="submit">
            <img src="img/botao-buscar-aluno.png" class="imgs-botoes-portal">
        </button>
		</a>
		<br>
		<br>
		<a href="/logout" class="link-logout">Logout</a>
    </main>


</body>
</html>
