<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
    <title>Estágios - Home</title>
</head>
<body>
	<header>
	        <a href="http://localhost:8080"><img id="logo" src="img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
	        <h1 id="titulo-plataforma" >PIPA | Home</h1>
	</header>
	
	<main>
		<h2>Página empresa</h2>
	</main>
    
</body>
</html>