<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/img/icon.png">
    <title>Lista de Alunos</title>
</head>
<body>
	<header>
        <div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav id="nav-comeco">
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
           <a href="/notificacoes" class="icone" id="icone-portal">
			    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
			    <label>Notificações</label>
    		</a>
		<a th:href="@{/pesquisa-usuario/listaausuarios}" class="icone" id="icone-portal">
            <img src="../img/lupa.png">
            <label>Pesquisa</label>
		</a>
    </nav>

    <main>
        <h2 id="subtitulo-portal">Lista de Alunos</h2>
        <table class="table" id="alunos-table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Curso</th>
					<th>Campus</th>
                    <th>Ver mais</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alunos : ${listaAlunos}">
					<td th:text="${alunos.id}"></td>
					<td th:text="${alunos.nome}"></td>
					<td th:text="${alunos.curso}"></td>
					<td th:text="${alunos.campus}"></td>					
                    <td><a th:href="'/perfil-aluno?id=' + ${alunos.id}">
                        <button id="botao-certificado">Ver mais</button>
                    </a></td>
					<td>
						<a th:href="@{/administrador/listar-alunos/editar(id=${alunos.id})}">
						 <button class="botao-editar">Editar</button>
						</a>
					</td>
					<td>						
						<form   class="f-form" 
						        th:action="@{/administrador/deletar-aluno}" 
						        method="post"
								onsubmit="return confirm('Tem certeza que deseja deletar este aluno?');" >

								<input type="hidden"  name="n" th:value=" ${alunos.id}" />
								<input  class="botao-excluir" id="botao-deletar" type="submit" value="Deletar" />  
						</form> 
						
					</td>
				</tr>				
			</tbody>
        </table>
    </main>


</body>
</html>