<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/img/icon.png">
    <title>Lista de Alunos</title>
</head>
<body>
    <header>
        <div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <a href="perfil" class="icone" id="icone-portal">
            <img src="/img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>       

	<main>
	    <h2 class="subtitulo-portal">Lista de Usuario</h2>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Nome</th>
	                <th>Curso</th>
	                <th>Campus</th>
	                <th>Ver mais</th>
	                <th>Validação</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="aluno : ${listaAlunos}">
	                <td th:text="${aluno.id}"></td>
	                <td th:text="${aluno.nome}"></td>
	                <td th:text="${aluno.curso}"></td>
	                <td th:text="${aluno.campus}"></td>
	                <td>
	                    <a th:href="'/perfil?id=' + ${aluno.id}">
	                        <button id="botao-certificado">Ver mais</button>
	                    </a>
	                </td>
	                <td>
	                    <a th:href="@{/administrador/listar-certificados-licencas/editar(id=${aluno.id})}">
	                        <button id="botao-certificado">Validar</button>
	                    </a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
		
		<!--
	    <h2 class="subtitulo-portal">Lista de Professores</h2>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Nome</th>
	                <th>Email</th>
	                <th>Role</th>
	                <th>Ver Perfil</th>
					<th>Validação</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="professor : ${listaProfessores}">
	                <td th:text="${professor.id}"></td>
	                <td th:text="${professor.nome}"></td>
	                <td th:text="${professor.email}"></td>
	                <td th:text="${professor.role}"></td>
	                <td>
	                    <a th:href="'/perfil?id=' + ${professor.id}">
	                        <button id="botao-certificado">Ver Perfil</button>
	                    </a>
	                </td>
					<td>
	                    <a th:href="@{/administrador/listar-certificados-licencas/editar(id=${professor.id})}">
	                        <button id="botao-certificado">Validar</button>
	                    </a>
	                </td>
	            </tr>
	        </tbody>
	    </table>-->
	</main>


</body>
</html>