<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="icon" href="../img/icon.png">
    <title>Administrador - Home</title>
</head>
<body>
	<header>
	    <a href="/administrador"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->	        <h1 id="titulo-plataforma" >PIPA | Home</h1>
    </header>

    <nav>
        <p id="nome-no-portal" th:text="${administrador.nome}"></p>
        <a href="perfil" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>    

	<main>
		<h2 id="subtitulo-portal">Navegue pelo site</h2>
        <br>
        <div id="notificacoes-portal">
            <button id="voltar-notificacao">&lt;</button>
            <p id="not-um">notificação 1</p>
            <p id="not-dois">notificação 2</p>
            <p id="not-tres">notificação 3</p>
            <button id="avancar-notificacao">&gt;</button>
            <img src="../img/not-um-select.png" class="select-not-img" id="not-um-select">
            <img src="../img/not-dois-select.png" class="select-not-img" id="not-dois-select">
            <img src="../img/not-tres-select.png" class="select-not-img" id="not-tres-select">
        </div>
        <br>
		<a href="/administrador/projetos">
        <button class="botoes-portal" id="botao-projeto-adm" type="submit">
            <img src="../img/botao-projetos-de-pesquisa.png" class="imgs-botoes-portal">
        </button>
		</a>
		<a href="/administrador/estagios">
        <button class="botoes-portal" id="botao-estagio-adm" type="submit">
            <img src="../img/botao-estagios.png" class="imgs-botoes-portal">
        </button>
		</a>
        <a href="/administrador/listar-empresas">
            <button class="botoes-portal" id="botao-empresa-adm" type="submit">
            <img src="../img/botao-empresa.png" class="imgs-botoes-portal">
            </button>
        </a>
        <a href="/administrador/listar-alunos">
            <button class="botoes-portal" id="botao-aluno-adm" type="submit">
            <img src="../img/botao-aluno.png" class="imgs-botoes-portal">
            </button>
        </a>
	</main>
    <script src="../js/portal.js"></script>
</body>
</html>
