<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/img/icon.png">
    <title>Lista de Professores</title>
</head>
<body>
    <header>
        <div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <a href="perfil" class="icone" id="icone-portal">
            <img src="/img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>       

    <main>
        <h2 id="subtitulo-portal">Lista de Professores</h2>
        <table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>                   
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="professores : ${listaProfessores}">
					<td th:text="${professores.id}"></td>
					<td th:text="${professores.nome}"></td>
					<td th:text="${professores.telefone}"></td>
					<td th:text="${professores.email}"></td>	
					<td>				
						<a th:href="@{/administrador/listar-professores/editar(id=${professores.id})}">
						 <button class="botao-editar">Editar</button>
						</a>
					</td>
					<td>						
						<form   class="f-form" 
						        th:action="@{/administrador/deletar-professor}" 
						        method="post"
								onsubmit="return confirm('Tem certeza que deseja deletar este professor?');" >

								<input type="hidden"  name="n" th:value=" ${professores.id}" />
								<input class="botao-excluir" id="botao-deletar" type="submit" value="Deletar" />  
						</form> 
						
					</td>
				</tr>				
			</tbody>
        </table>
    </main>


</body>
</html>