<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="icon" href="../img/icon.png">
    <title>Lista de Projetos</title>
</head>
<body>
    <header>
        <div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav>
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <a href="/notificacoes" class="icone" id="icone-portal">
    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
    <label>Notificações</label>
    </a>
        
        <a href="perfil" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
        </a>
    </nav>    
    
    <main>
        <h2 id="subtitulo-portal">Lista de Projetos</h2>
        <table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Orientador</th>
					<th>Título</th>
					<th>Descrição</th>
					<th>Carga Horária</th>
                    <th>Requisitos</th>
                    <th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="projetos : ${projetos}">
					<td th:text="${projetos.id}"></td>
					<td th:text="${projetos.responsavel}"></td>
					<td th:text="${projetos.nome}"></td>
					<td th:text="${projetos.descricao}"></td>
					<td th:text="${projetos.cargaHoraria}"></td>
                    <td th:text="${projetos.requisito}"></td>
                    <td><a th:href="'/administrador/editar-projeto?n=' + ${projetos.id}">
                        <button id="botao-certificado">Editar projeto</button>
                    </a></td>
				</tr>				
			</tbody>
        </table>
    </main>

    <script src="../js/portal.js"></script>

</body>
</html>