<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/icon.png}">
    <title>Professor - Home</title>
</head>

<body>
    <header>
        <a href="/professor"><img id="logo" th:src="@{/img/logo.png}"></a>
        <h1 id="titulo-plataforma">PIPA | Home</h1>
    </header>

    <nav>
        <p th:text="${professor.nome}"></p>
         <a href="/notificacoes" class="icone" id="icone-portal">
    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
    <label>Notificações</label>
    </a>
        <a href="link" class="icone">
            <img th:src="@{/img/icone-perfil.png}">
            <label>Perfil</label>
        </a>
        <a th:href="@{/professor/projetos?id={id}(id=${professor.id})}" class="icone">
            <img th:src="@{/img/icone-maleta.png}">
            <label>Projetos</label>
        </a>
    </nav>

    <main>
        <form th:action="@{/professor/projetos/criarProjeto}" th:object="${projeto}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" /><br/><br/>
    
            <label for="responsavel">Responsável:</label>
            <input type="text" th:value="${professor.nome}" readonly="readonly" id="responsavel" /><br/><br/>
    
            <label for="descricao">Descrição:</label>
            <textarea th:field="*{descricao}" id="descricao"></textarea><br/><br/>
    
            <label for="cargaHoraria">Carga Horária:</label>
            <input type="number" th:field="*{cargaHoraria}" id="cargaHoraria" /><br/><br/>
    
            <label for="vagas">Vagas:</label>
            <input type="number" th:field="*{vagas}" id="vagas" /><br/><br/>
    
            <label for="requisito">Requisitos:</label>
            <textarea th:field="*{requisito}" id="requisito"></textarea><br/><br/>
    
            <button type="submit">Criar Projeto</button>
        </form>
    </main>

</body>

</html>