<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"  th:href="@{/css/style.css}">
    <link rel="icon" href="../img/icon.png">
    <title>Home</title>
</head>
<body>
	<header>
        <div th:switch="${usuario.role}">
            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Professor'" href="/professor"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="/img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
        <h1 id="titulo-plataforma" >PIPA | Portal</h1>
    </header>

    <nav id="nav-comeco">
        <div th:switch="${usuario.role}">
            <p id="nome-no-portal" th:case="'Administrador'"><span th:text="${administrador.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Aluno'"><span th:text="${aluno.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Professor'"><span th:text="${professor.nome}"></span></p>
            <p id="nome-no-portal" th:case="'Empresa'"><span th:text="${empresa.nome}"></span></p>
            <p id="nome-no-portal" th:case="'*'"></p>
        </div>
           <a href="/notificacoes" class="icone" id="icone-portal">
			    <img th:src="@{${temNotificacoesNaoLidas} ? '../img/balao-de-fala-vermelho.png' : '../img/balao-de-fala.png'}" />
			    <label>Notificações</label>
    		</a>
		<a th:href="@{/perfil(id=${usuario.id})}" class="icone" id="icone-portal">
            <img src="../img/icone-perfil.png">
            <label>Perfil</label>
		</a>
		<a th:href="@{/pesquisa-usuario/listaausuarios}" class="icone" id="icone-portal">
            <img src="../img/lupa.png">
            <label>Pesquisa</label>
		</a>
    </nav>  
    
    <main>
        <h2 id="subtitulo-portal">Navegue pelo site</h2>
        <section id="botoes-portal-professor">
		    <a th:href="@{/professor/projetos?id={id}(id=${professor.id})}">
            <button class="botoes-portal" id="botao-projeto-professor" type="submit">
                <img src="img/botao-projetos-de-pesquisa.png" class="imgs-botoes-portal">
            </button>
		    </a>
		    <a th:href="@{/pesquisa/listaalunos}">
            <button class="botoes-portal" id="botao-buscar-aluno" type="submit">
                <img src="img/botao-buscar-aluno.png" class="imgs-botoes-portal">
            </button>
		    </a>
        </section>
        <br>
        <br>
        <a href="/logout" class="link-logout">Logout</a>
    </main>


</body>
</html>
