<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" href="img/icon.png">
    <title>Professor - Home</title>
</head>

<body>
    <header>
        <a href="http://localhost:8080"><img id="logo" th:src="@{/img/logo.png}"></a>
        <h1 id="titulo-plataforma">PIPA | Home</h1>
    </header>

    <nav>
        <p th:text="${professor.nome}"></p>
        <a href="link" class="icone">
            <img th:src="@{/img/icone-perfil.png}">
            <label>Perfil</label>
        </a>
        <a th:href="@{/professor/projetos?id={id}(id=${professor.id})}" class="icone">
            <img th:src="@{/img/icone-maleta.png}">
            <label>Projetos</label>
        </a>
    </nav>

    <main>
        <a th:href="@{/professor/projetos/criarProjeto}" class="botao-editar">Criar projeto</a>
        <div th:if="${projetos != null && !projetos.isEmpty()}">
            <div th:each="projeto : ${projetos}">
                <section class="projeto">
                    <h2 id="subtitulo-portal" th:text="${projeto.nome}"></h2>
                    <p><strong>Responsável:</strong> <span th:text="${projeto.responsavel}"></span></p>
                    <p><strong>Descrição:</strong> <span th:text="${projeto.descricao}"></span></p>
                    <p><strong>Vagas:</strong> <span th:text="${projeto.vagas}"></span></p>
                    <p><strong>Carga Horária:</strong> <span th:text="${projeto.cargaHoraria}"></span></p>
                    <p><strong>Requisitos:</strong> <span th:text="${projeto.requisito}"></span></p>
                    <div class="opcoes">
                        <a th:href="@{/professor/editarProjeto?id={id}(id=${projeto.id})}" class="botao-editar">Editar projeto</a>
                        <form th:action="@{/professor/projetos/deletarProjeto?id={id}(id=${projeto.id})}" method="post" onsubmit="return confirm('Tem certeza que deseja deletar este projeto?');">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="botao-excluir" type="submit">Deletar projeto</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    
        <div th:if="${projetos == null || projetos.isEmpty()}">
            <p>Nenhum projeto encontrado.</p>
        </div>
    </main>
</body>
</html>