.config {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    display: flex;
    margin-top: 20px;
}

#menu-config {
    width: 20%;
    background-color: #ffffff;
    border: 2px solid rgb(219, 219, 219);
    padding: 20px;
    margin-bottom: 40px;
}

.menu-list {
	list-style: none;
	margin-left: 1vw;
    padding: 0;
}

li:before {
  content: '•';
  margin-right:  20px;
  width: auto;
  height: auto;
  color:#003869;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-list a {
    text-decoration: none;
    color: #003869;
    font-weight: bold;
}

.menu-list a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(219, 219, 219);
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    border-radius: 5px;
}

.titulo-config {
    margin-top: 0;
    text-align: center;
}

#botao-concluir-config {
    color: white;
    white-space: nowrap;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: none;
    word-spacing: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    width: 159px;
    height: 25px;
    padding: 5px;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%) scale(1);
    transform-origin: center;
    cursor: pointer;
}

#botao-concluir-config:hover {
    transform: translateX(-50%) scale(1.1);
}

#botao-apagar-conta {
	color: rgb(255, 255, 255);
    white-space: nowrap;
    background-color: #003869;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: block;
    word-spacing: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    width: 120px;
    height: 25px;
    padding: 5px;
    bottom: 5vh;
    left: 60%;
    transform: translateX(-50%) scale(1);
    transform-origin: center;
    cursor: pointer;
}

#botao-apagar-conta:hover {
    transform: translateX(-50%) scale(1.1);
	background-color: rgb(255, 81, 81);
}

.conta-config {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    margin: 1vh 0;
    background-color: #fefafa;
	border: rgb(128, 128, 128) 2px solid;
}

.conta-config input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}