<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIPA | Plataforma</title>
    <link rel="stylesheet" th:href="@{/css/style-pesquisa.css}">
</head>
<body>
	<header>
		<div th:switch="${usuario.role}">
		            <a th:case="'Administrador'" href="/administrador"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
		            <a th:case="'Aluno'" href="/aluno"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
		            <a th:case="'Professor'" href="/professor"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
		            <a th:case="'Empresa'" href="/empresa"><img id="logo" src="../img/logo.png"></a> <!--Clique na logo para retornar à página inicial-->
		            <p id="nome-no-portal" th:case="'*'"></p>
		        </div> <!--Clique na logo para retornar à página inicial-->
	    <h1 id="titulo-plataforma" >PIPA | Pesquisa de alunos</h1>
		<nav>
			<p id="nome-no-portal" th:text="${nome}"></p>
			<a href="/aluno/perfil" class="icone" id="icone-pesquisa-aluno">
				<img src="/img/icone-perfil.png">
				<label>Perfil</label>
			</a>
		</nav>  
	</header>

	 
	
    <main>
		
        <section class="search-bar">
			
			<form   th:object="${pesqNome}"
			        class="f-form" 
			        th:action="@{/pesquisa/pesquisaNome}" 
			        method="post" >

					<input type="text" placeholder="Buscar aluno" th:field = "*{nome}" />
					<p th:if="${#fields.hasErrors('nome')}" th:errorclass="form-error" th:errors="*{nome}" />
					

					<input type="submit" class="filter-button" value="🔽" />  
			</form> 			
			
			
        </section>
		
		
        <section class="filters">
			
			
			<form   th:object="${pesqFiltro}"
			        class="f-form" 
			        th:action="@{/pesquisa/pesquisaFiltro}" 
			        method="post" >


					<select  th:field="*{curso}">
						<option   th:value="''"    th:text="Curso"></option>
						<option   th:each="curso : ${listaCursos}"   th:value="${curso}"  th:text="${curso}"></option>

						<!--option th:value="Trânsito" th:text="Trânsito"></option -->
						<!--option th:value="Trânsito">Trânsito</option -->
					</select>



					<select th:field="*{campus}">
					    <option   th:value="''"  th:text="Campus"></option>
						<option   th:each="campus : ${listaCampus}"   th:value="${campus}"  th:text="${campus}"></option>
					</select>


					<select th:field="*{periodo}">
					    <option   th:value="''"  th:text="Série"></option>
						<option th:value="'serie 1'"             th:text="'1ª Série'"></option>
						<option th:value="'serie 2'"             th:text="'2ª Série'"></option>
						<option th:value="'serie 3'"             th:text="'3ª Série'"></option>
					</select>
					
					<input type="submit" class="filter-button" value="🔽" />  
					
					<p th:if="${#fields.hasErrors('global')}" th:errorclass="form-error" th:errors="*{global}" />
			</form> 			
		</section>		
			
			
		
        <section class="project-list">
            <div class="project-container">
                <article class="project-card" th:each="aluno : ${listaAlunos}">
					<a th:href="@{/perfil-aluno(id=${aluno.id})}">
                    <h2 th:text="${aluno.nome}"></h2>
					</a>
                    <p th:text="${aluno.email}"></p>
                    <div class="tags">
                        <span th:text="${aluno.curso}"></span>
                        <span th:text="${aluno.periodo}"></span>
                    </div>
                </article>
            </div>
        </section>
		
    </main>
	
</body>
</html>
